{% extends 'base.html' %}
{% block create_course %}
{% endblock %}
{% block course %}
    <div class="section">
        <h4 align="center">Новый курс</h4>
        <br>
        <div class="row">
            <form method="POST" enctype="multipart/form-data" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">title</i>
                        {{ form.title }}
                        <label>Название:</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">comment</i>
                        {{ form.description }}
                        <label>Описание:</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">attach_money</i>
                        {{ form.price }}
                        <label>Цена:</label>
                        <span class="helper-text" data-error="wrong"
                              data-success="right">Стоимость указывается в рублях.</span>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">date_range</i>
                        {{ form.start_date.as_widget }}
                        <label>Дата начала:</label>
                        <span class="helper-text" data-error="wrong"
                              data-success="right">Дата и время начала первого занятия.</span>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">assignment</i>
                        {{ form.duration }}
                        <label>Колличество занятий:</label>
                        <span class="helper-text" data-error="wrong"
                              data-success="right">Общее количество занятий.</span>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">av_timer</i>
                        {{ form.lesson_duration }}
                        <label>Продолжительность одного занятия:</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Указывать в академических часах(1 час = 45 мин).</span>
                    </div>



                    <div class="file-field input-field col s12">
                        <div class="btn blue darken-4">
                            <span>Обложка:</span>
                            {{ form.image }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Загрузите обложку для вашего курса">
                        </div>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn blue darken-4">
                            <span>Договор:</span>
                            {{ form.contract }}
                        </div>
                        <div class="file-path-wrapper">

                            <input class="file-path validate" type="text" placeholder="Загрузите договор для вашего курса">
                        </div>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn blue darken-4">
                            <span>Квитанция:</span>
                            {{ form.invoice }}
                        </div>
                        <div class="file-path-wrapper">

                            <input class="file-path validate" type="text" placeholder="Загрузите квитанцию для вашего курса">
                        </div>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn blue darken-4">
                            <span>Рабочая программа:</span>
                            {{ form.work_program }}
                        </div>
                        <div class="file-path-wrapper">

                            <input class="file-path validate" type="text" placeholder="Загрузите рабочую программу вашего курса">
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <button class="btn waves-effect waves-light right blue darken-4" type="submit" name="action">
                    Сохранить
                    <i class="material-icons right">send</i>
                </button>

            </form>
        </div>
    </div>
{% endblock %}
{% block course_new %}
{% endblock %}