{% extends 'base.html' %}
{% block course %}
    <div class="row">
        <div class="col s12 l6">
            <div class="card disable-card">
                <div class="card-content">
                    <span class="card-title light-text">{{ course.title }}</span>
                    <p>{{ course.description }}</p>
                </div>
                <div class="card-action">
                    {% if request.user == course.lecturer %}
                        <a class="waves-effect waves btn
                            btn-flat blue accent-4 white-text"
                           href="{% url 'course_edit' pk=course.pk %}">Редактировать</a>
                    {% endif %}
                    {% if perms.course.student %}
                        <a class="waves-effect waves btn
                            btn-flat blue accent-4 white-text"
                           href="{% url 'record_to_course' pk=course.pk %}">Запись</a>
                    {% endif %}
                </div>
            </div>
            <div class="header-problem">
                <h4>{{ course.title }}</h4>
            </div>
            <ul>
                <li>Цена: {{ course.price }}</li>
                <li>Дата начала: {{ course.start_date }} </li>
                <li>Продолжительность: {{ course.duration }}
                <li>Преподователь: <a href="{% url 'profile' username=course.lecturer %}">
                    {% firstof course.lecturer.get_full_name course.lecturer.get_username %}</a></li>
                {% if course.contract and course.invoice %}
                    <li><a href="{{ course.contract.url }}" target="_blank">Договор на оказание услуг</a></li>
                    <li><a href="{{ course.invoice.url }}" target="_blank">Квитанция на оплату услуг</a></li>
                {% elif course.contract %}
                    <li><a href="{{ course.contract.url }}" target="_blank">Договор на оказание услуг</a></li>
                    <li>Преподователь не загрузил квитанцию. Обратитесь к нему лично.</li>
                {% elif course.invoice %}
                    <li><a href="{{ course.invoice.url }}" target="_blank">Квитанция на оплату услуг</a></li>
                    <li>Преподователь не загрузил договор. Обратитесь к нему лично.</li>
                {% else %}
                    <li>Преподователь не загрузил договор и квитанцию. Обратитесь к нему лично.</li>
                {% endif %}
                <li><a href="{{ course.work_program.url }}" target="_blank">Рабочая программа</a></li>
                <!-- Конец костыля. -->
            </ul>
        </div>
        <div class="col s12 l6">
            Записавшиеся на курс:

            <ul>
            <li>
            {%for record in records%}
            <a class="white-text author" href="{% url 'profile' username=record.student %}">
                <div class="author-photo small-photo rounded"
                     style="background-image: url(' {{ record.student.profile.image.url }} ')">
                </div>
                <div class="author-name black-text">
                    {% firstof record.student.get_full_name record.student.get_username %}
                </div>
            </a>
            {%empty%}
            Пока еще никто не записался.
            {%endfor%}
        </li>
        </ul>
        </div>
    </div>
{% endblock %}
{% block course_new %}
{% endblock %}