{% extends 'base.html' %}

{% block course %}
    <h2>Список курсов</h2>
    <div class="row">
        {% for course in course %}
            <div class="col s12 m6 l6">
                <div class="card z-depth-2
                {% if request.user == course.lecturer %}
                                grey lighten-1 lecturer" data-desc="Цена: {{ course.price }}">
                {% else %}
                    green lighten-1 new" data-desc="Цена: {{ course.price }}">
                {% endif %}
                <div class="card-content white-text">
                    <span class="card-title">{{ course.title }}</span>
                    <p>{{ course.description|linebreaksbr }}</p>
                </div>
                <div class="card-action">
                    <a class="white-text
                    {% if request.user == course.lecturer %}
                                grey lighten-2
                    {% else %}
                    green lighten-2
                    {% endif %}
                    btn btn-flat waves waves-effect"
                       href="{% url 'course_detail' pk=course.pk %}">Подробно</a>
                    <span class="white-text card-date"> {{ course.start_date }} </span>
                    <a class="white-text author" href="{% url 'profile' username=course.lecturer %}">
                        <div class="author-photo small-photo rounded"
                             style="background-image: url(' {{ course.lecturer.profile.image.url }} ')">
                        </div>
                        <div class="author-name">
                            {% firstof course.lecturer.get_full_name course.lecturer.get_username %}
                        </div>
                    </a>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "pagination.html" with page=course %}
{% endblock %}