{% extends 'base.html' %}
{% block course %}
    <h2>Список курсов</h2>
    <div class="row">
        {% for my_course in my_course %}
            <div class="col s12 m6 l6">
                <div class="card z-depth-2
                 {% if request.user == my_course.lecturer %}
                     grey lighten-1 lecturer" data-desc="Цена: {{ my_course.price }}">
                {% else %}
                    green lighten-1 new" data-desc="Цена: {{ my_course.price }}">
                {% endif %}
                <div class="card-content white-text">
                    <span class="card-title">{{ my_course.title }}</span>
                    <p>{{ my_course.description|linebreaksbr }}</p>
                </div>
                <div class="card-action">
                    <a class="white-text
                    {% if request.user == my_course.lecturer %}
                                grey lighten-2
                    {% else %}
                    green lighten-2
                    {% endif %}
                    btn btn-flat waves waves-effect"
                       href="{% url 'course_detail' pk=my_course.pk %}">Подробно</a>
                    <span class="white-text card-date"> {{ my_course.start_date }} </span>
                    <a class="white-text author" href="{% url 'profile' username=my_course.lecturer %}">
                        <div class="author-photo small-photo rounded"
                             style="background-image: url(' {{ my_course.lecturer.profile.image.url }} ')">
                        </div>
                        <div class="author-name">
                            {% firstof my_course.lecturer.get_full_name my_course.lecturer.get_username %}
                        </div>
                    </a>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "pagination.html" with page=my_course %}
{% endblock %}