

{% extends 'base.html' %}

{% block course %}
    <div class="section">
        <h4 align="center">Запись на курс</h4>
        <br>
        <div class="row">
            <form method="POST" enctype="multipart/form-data" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form.name }}
                        <label>Имя:</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form.surname }}
                        <label>Фамилия:</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        {{ form.patronymic }}
                        <label for="id_patronymic">Отчество:</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">date_range</i>
                        {{ form.date_birth.as_widget }}
                        <label for="id_date_birth">Дата рождения:</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">smartphone</i>
                        {{ form.phone }}
                        <label for="id_phone">Номер телефона:</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">contact_mail</i>
                        {{ form.email }}
                        <label for="id_email">Адрес электронной почты:</label>
                    </div>
                    <div class="input-field col s12">
                        {{ form.institute }}
                    </div>
                    <div class="input-field col s12">
                        {{ form.department }}
                    </div>
                    <div class="input-field col s12">
                        {{ form.group }}
                    </div>

                    <div class="file-field input-field col s12">
                        <div class="btn blue darken-4">
                            <span>Договор</span>
                            {{ form.contract }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Загрузите подписанный договор">
                        </div>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn blue darken-4">
                            <span>Квитанция</span>
                            {{ form.invoice }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Загрузите оплаченую квитанцию">
                        </div>
                    </div>
                </div>
                    {% csrf_token %}
                    <button class="btn waves-effect waves-light right blue darken-4" type="submit" name="action">
                        Сохранить
                        <i class="material-icons right">send</i>
                    </button>
            </form>
        </div>
    </div>

{% endblock %}