{% extends "base.html" %}

{% block login %}
{% endblock %}

{% block course %}
    <div class="login-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="login">
                        <h3 align="center">Вход</h3>
                        <form action="." method="post">
                            {% if form.errors %}
                                <div class="login-error-message">
                                    Ваше имя пользователя и пароль не совпадают.
                                    Пожалуйста, попробуйте еще раз
                                </div>
                            {% else %}
                                <div class="login-succes-message">Пожалуйста, используйте эту форму для авторизации.</div>
                            {% endif %}
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}"/>
                            <div class="input-field">
                                {{ form.login }}
                                <label>Логин или E-mail:</label>
                            </div>
                            <div class="input-field">
                                {{ form.password }}
                                <label>Пароль:</label>
                            </div>
                            {% csrf_token %}
                            <div class="form-group center">
                                <button class="btn btn-large blue darken-4">Войти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}