{% extends "base.html" %}

{% block course %}
    <div class="section">
        <div class="row">
            <div class="col s12">
                {% if messages %}
                    <ul class="edit" align="center">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">
                                {{ message|safe }}
                                <a href="" class="close-btn">✖</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="row">
                    <div class="col s6">
                        <h3>{{ user.get_full_name }}</h3>
                        <p>Email: {{ user.email }}</p>
                        <p>Телефон: {{ user.profile.phone }}</p>
                    </div>
                    <div class="image">
                        <div class="col s6">
                            <img height="350" width="300" src="{{ user.profile.image.url }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}