{% extends "base.html" %}
{% block course %}
<div class="profile_edit">
        <h1>Изменить ваш аккаунт</h1>
        <p>Вы можете изменить ваш акканут используя следующую форму:</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for user_form in user_form %}
            <p>
                        {{ user_form.label_tag }}
                    {{ user_form }}
                </p>
            {% endfor %}
            {% for profile_form in profile_form %}
            <p>
                        {{ profile_form.label_tag }}
                    {{ profile_form }}
                </p>
            {% endfor %}
            <button type="submit" class="save btn waves waves-effect btn-default blue accent-4">Сохранить изменения
            </button>
        </form>
    </div>
{% endblock %}
{%block course_new%}
{% endblock %}