nav {
    background-color: #2d2d44;
}

.page-footer {
    background-color: #2d2d44;
}

main {
    flex: 1 0 auto;
}

body {
    height: 110vh;
}

.sidenav-overlay {
    z-index: 995;
}

.collection-item.avatar img {
    border: 1px solid #999;
    object-fit: cover;
    object-position: center;
}

.collection-item.avatar .title {
    font-weight: bold;
    font-size: 18px !important;
}

.color {
    background-color: #3185C5;
}

.page-footer2 {
    padding-top: 20px;
    color: #fff;
    background-color: #3185C5;
}

.course_new {
    background-color: #0d47a1;
    border-radius: 5px;
}

.card {
    border-radius: 6px;
}

.card-action {
    border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-wrapper {
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin-bottom: -208px;
    padding-bottom: 208px;
}

.btn {
    border-radius: 5px !important;
}

.input-field input:focus + label, .input-field textarea:focus + label {
    color: #0d47a1 !important;
}

.input-field input:focus, .input-field textarea:focus {
    border-bottom: 1px solid #0d47a1 !important;
    box-shadow: 0 1px 0 0 #0d47a1 !important;
}

.input-field .prefix.active {
    color: #0d47a1;
}

.all-tickets, .offset-top {
    margin-top: 40px;
}

.disable-card:hover {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
}

.card {
    border-radius: 10px !important;
    position: relative;
}

.card .card-action:last-child {
    border-radius: 0 0 10px 10px !important;
}

.card:hover {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

.card::before {
    content: attr(data-desc);
    position: absolute;
    color: #fff;
    background-color: #bf360c;
    border-radius: 10em;
    padding: 0 15px;
    right: 10px;
    top: -10px;
}


.card-content {
    min-height: 135px;
}

.card-title {
    font-weight: 600 !important;
}

.card-date {
    font-size: 12px;
    font-weight: 100;
}

.author {
    display: flex;
    align-items: center;
}

.card-action {
    border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-photo {
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.author-name {
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 130px;
}

.rounded {
    border-radius: 50%;
}

.profile {
    margin-top: 50px;
}

.profile-image {
    width: 100%;
    padding-top: 120%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.ticket-control-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px 0;
    box-shadow: 0 1px 3px 0 rgba(31, 47, 66, .12), 0 0 4px 0 rgba(31, 47, 66, .04);
}

.lecturer::before {
    background-color: #9e9e9e;
}

.new::before {
    background-color: #1b5e20;
}

.background {
    object-fit: cover;
    object-position: center;
    margin-top: -100px;
    width: 100%;
}

select {
    display: block;
}