{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Курсы КГЭУ</title>
</head>
<body>
{% block navbar %}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <a href="{% url 'course_list' %}" class="brand-logo">Курсы КГЭУ</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#loginWindow" class="modal-trigger"><i class="material-icons">search</i></a></li>
                        {% if  request.user.is_authenticated %}
                            <li><a href="{% url 'my_course' %}">Мои курсы</a></li>
                        {% else %}
                            <li><a href="{% url 'my_course' %}" class="hiddendiv">Мои курсы</a></li>
                        {% endif %}
                        <li><a href="{% url 'course_list' %}">Каталог курсов</a></li>
                    {% block create_course %}
                        {% if perms.course.lecturer %}
                            <li class="course_new"><a href="{% url 'course_new' %}">Создать</a></li>
                        {% endif %}
                        {% endblock %}
                        {% if request.user.is_authenticated %}
                            <li><a class='modal-trigger dropdown-button' href='#' data-target='accountMenu'>
                                {% if request.user.get_full_name %}
                                    {{ request.user.get_full_name }}
                                {% else %}
                                    {{ request.user.username }}
                                {% endif %}
                            </a></li>
                            <ul id='accountMenu' class='dropdown-content'>
                                <li><a href="{% url 'profile' username=request.user.username %}">Профиль</a></li>
                                {% if request.user.is_staff %}
                                    <li><a href="/admin/">Панел Администратора</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{% url 'account_logout' %}">Выход</a>
                                </li>
                            </ul>
                        {% else %}
                            {% block login %}
                                <li>
                                    <a class="modal-trigger waves-effect waves-light btn"
                                       href="{% url 'account_login' %}">Войти</a>
                                </li>
                            {% endblock %}
                        {% endif %}
                    </ul>
                    <!-- Мобильное меню пользователь -->
                    <ul id="slide-out" class="sidenav">
                        <li>
                            <div class="user-view">
                                <div class="background">
                                    <img src="{% static 'media/kgeu.jpg' %}">
                                </div>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'profile' username=request.user.username %}">
                                        <img class="circle" src="{{ user.profile.image.url }}">
                                        <span class="black-text name waves waves-effect">
                                                {% if request.user.get_full_name %}
                                                    {{ request.user.get_full_name }}
                                                {% else %}
                                                    {{ request.user.username }}
                                                {% endif %}
                                             </span>
                                    </a>
                                {% else %}
                                    <a href="#"><img class="circle"
                                                     src="{% static 'media/user_images/avatar.jpg' %}"></a>
                                    <a href="#"><span class="black-text name">Гость</span></a>
                                {% endif %}
                                <a href="#">
                                        <span class="black-text email">
                                            {% if request.user.email %}
                                                {{ user.email }}
                                            {% endif %}
                                        </span>
                                </a>
                            </div>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'my_course' %}"><i class="material-icons">school</i>Мои курсы</a></li>
                        {% else %}
                            <li><a href="{% url 'my_course' %}" class="subheader"><i class="material-icons">school</i>Мои
                                курсы</a></li>
                        {% endif %}

                        <li><a href="{% url 'course_list' %}"><i class="material-icons">dvr</i>Каталог курсов</a></li>
                        {% if perms.course.lecturer %}
                            <li class="course_new_mobile"><a href="{% url 'course_new' %}"><i
                                    class="material-icons">add</i>Создать</a></li>
                        {% endif %}
                        <li>
                            <div class="divider"></div>
                        </li>
                        {% if request.user.is_staff %}
                            <li><a href="/admin/"><i class="material-icons">build</i>Панел Администратора</a></li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'account_logout' %}">
                                    <i class="material-icons">directions_walk</i>Выйти
                                </a>
                            </li>
                        {% else %}
                            <li><a href="{% url 'account_login' %}"><i
                                    class="material-icons">directions_walk</i>Войти</a></li>
                        {% endif %}
                    </ul>
                    <a href="#" data-target="slide-out" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <!-- END Мобильное меню пользователь -->
                </div>
            </div>
        </nav>
    </div>
{% endblock %}
<div id="loginWindow" class="modal">
    {% block search %}
        <div class="modal-content">
{#            <h5>По заголовку:</h5>#}
            <div class="row">
                <form action="/course_list/search/" method="get">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="q">
                            <label>По названию</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light right blue accent-4" type="submit">Поиск</button>
                </form>
            </div>
        </div>
{#        <div class="modal-footer">#}
{#            #}
{#        </div>#}
    {% endblock %}
</div>

<div class="container">
    <div class="section">
        <div class="row">
            {% block course %}
            {% endblock %}
        </div>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                    content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://kgeu.ru/">Сайт университета</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://e.kgeu.ru/">E-Learning</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2019
        </div>
    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>